In [2]:
import numpy as np
import pandas as pd
df = pd.read_csv("Final_Data_v1.csv") 
len(df.userID.unique())

66308

In [ ]:
#Adding number of words feature
def no_of_words(summary):
  return len(summary.split()) 

df['TotalWords'] = df.apply (lambda row: no_of_words(row.summary), axis=1)

In [ ]:
df.head()

   userID  ... TotalWords
0       0  ...         29
1       1  ...         31
2       2  ...         12
3       3  ...        148
4       4  ...         43

[5 rows x 9 columns]

In [ ]:
#Adding complex words feature
def gt_6_words(s):
    words = s.split()
    return len([word for word in words if len(word)>6])

df['ComplexWords'] = df.apply (lambda row: gt_6_words(row.summary), axis=1)
df.head()

   userID  ... ComplexWords
0       0  ...           15
1       1  ...           13
2       2  ...           10
3       3  ...           30
4       4  ...           20

[5 rows x 10 columns]

In [ ]:
#Adding Unique words feature
def unique_words(summary):
  s = set()
  words = summary.split()
  for word in words:
    if len(word)>=5:
      s.add(word)
  return len(s)

df['UniqueWords'] = df.apply (lambda row: unique_words(row.summary), axis=1)
df.head()

   userID  ... UniqueWords
0       0  ...          18
1       1  ...          15
2       2  ...           9
3       3  ...          57
4       4  ...          28

[5 rows x 11 columns]

In [ ]:
#Adding average words per sentence 

import re
def avg_words_per_sentence(s):
  parts = [len(l.split()) for l in re.split(r'[?!.]', s) if l.strip()]
  return round(sum(parts)/len(parts),1)

df['AWPS'] = df.apply (lambda row: avg_words_per_sentence(row.summary), axis=1)
df.head()

   userID                                            summary  ... UniqueWords  AWPS
0       0  AmirAl A's Summary Looking for a job as a jour...  ...          18  14.5
1       1  Reji Kumar A's Summary : Senior Product Develo...  ...          15  31.0
2       2  Riccardo A's Summary Specialties Surgical Onco...  ...           9  12.0
3       3  Rezald A's Summary I enjoy working with people...  ...          57  21.1
4       4  Rias Ahmed A's Summary MCTS, MCITP and MCSA Ce...  ...          28  43.0

[5 rows x 12 columns]

In [ ]:
len(df.userID.unique())

66308

In [ ]:
import nltk
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

df_summary = df[['userID','summary']]
df_summary.head()
len(df_summary.userID.unique())

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

66308

In [ ]:
def CountPOSFrequency(my_list):
  pos_freq = {}
  for items in my_list:
    pos_freq[items] = my_list.count(items)
  return pos_freq


def pos_tagging(summary):
  tokens = nltk.word_tokenize(summary)
  pos = nltk.pos_tag(tokens)
  pos_freq = []
  for i in range(len(pos)):
    pos_freq.append(pos[i][1])
  return CountPOSFrequency(pos_freq)

l = []
for index, row in df_summary.iterrows():
    l.append(pos_tagging(row['summary']))

print(l[0:10])

[{'NNP': 5, 'POS': 1, 'IN': 3, 'DT': 3, 'NN': 9, 'NNS': 4, '(': 1, ',': 6, 'CC': 1, ')': 1, '.': 1, 'NNPS': 1, 'JJ': 3}, {'NNP': 13, 'POS': 1, 'NN': 3, ':': 1, 'JJ': 2, 'IN': 5, 'CD': 1, 'NNS': 2, ',': 2, 'CC': 1, 'VBD': 1}, {'NNP': 10, 'POS': 1, 'JJ': 1, 'NN': 1}, {'NNP': 4, 'POS': 1, 'PRP': 9, 'VBP': 6, 'VBG': 10, 'IN': 15, 'NNS': 10, 'WP': 3, 'VBD': 2, 'RB': 13, 'PRP$': 3, 'NN': 18, '.': 7, 'JJ': 11, 'CC': 8, 'VBZ': 5, 'TO': 6, 'VB': 8, 'DT': 7, 'VBN': 6, 'MD': 2, ',': 3, 'RBS': 1, 'WDT': 1, 'JJR': 1}, {'NNP': 25, 'POS': 1, ',': 9, 'CC': 3, 'IN': 6, 'NNS': 3, 'NN': 1, 'RB': 1, 'CD': 1, 'DT': 1, 'JJ': 1, 'NNPS': 1, '.': 1}, {'NNP': 38, 'POS': 3, 'TO': 2, 'VB': 3, 'IN': 5, 'DT': 4, 'JJ': 3, 'NN': 14, 'CC': 6, 'VBN': 2, ',': 13, 'WRB': 1, 'VBZ': 1, 'NNS': 7, 'MD': 1, 'CD': 13, 'RB': 2, 'VBD': 1, 'JJR': 1, 'NNPS': 1, 'VBP': 2, '.': 5, '(': 2, ')': 2, 'VBG': 2}, {'NNP': 13, 'POS': 1, 'IN': 4, 'JJ': 4, 'NNS': 24, 'CC': 10, 'NN': 21, ':': 3, ',': 17, '.': 7, 'VBG': 1, 'VBP': 2, 'DT': 1, '(': 2, ')': 1, 'RB': 2, 'FW': 1, 'VBN': 1}, {'NNP': 7, 'POS': 1, 'NN': 17, 'FW': 7, 'JJ': 5, ',': 1, 'PRP': 1, 'VBZ': 2, 'RB': 1, '.': 2, 'DT': 2, 'IN': 1}, {'NNP': 8, 'POS': 1, 'JJ': 1, 'NNPS': 1, 'NN': 1, 'IN': 1}, {'NNP': 42, 'POS': 1, 'IN': 13, 'CD': 2, 'NNS': 5, 'JJ': 1, 'NN': 4, 'CC': 3, 'VBD': 2, ',': 15, 'DT': 1, 'VBG': 2, 'NNPS': 3, 'TO': 3, 'RB': 1, 'VB': 1}]

In [ ]:
len(l)

66308

In [ ]:
#pd.DataFrame.from_dict(l[0], orient='index').transpose()
df_pos = pd.DataFrame([l[0]],columns = ['CC','CD','DT','EX','FW','IN','JJ','JJR','JJS','LS','MD','NN','NNS','NNP','NNPS','PDT','POS','PRP','PRP$','RB','RBR','RBS','RP','TO','UH','VB','VBD','VBG','VBN','VBP','VBZ','WDT','WP','WP$','WRB','(',')','.',',','"','!'])

for i in range(0,66308): 
  df_pos = df_pos.append(pd.DataFrame([l[i]],columns = ['CC','CD','DT','EX','FW','IN','JJ','JJR','JJS','LS','MD','NN','NNS','NNP','NNPS','PDT','POS','PRP','PRP$','RB','RBR','RBS','RP','TO','UH','VB','VBD','VBG','VBN','VBP','VBZ','WDT','WP','WP$','WRB','(',')','.',',','"','!']))

In [ ]:
df_pos.index = range(len(df_pos))
df_pos['userID'] = df_pos.index
df_pos.head()

    CC   CD   DT  EX  FW    IN    JJ  ...    (    )    .    ,   "   !  userID
0  1.0  NaN  3.0 NaN NaN   3.0   3.0  ...  1.0  1.0  1.0  6.0 NaN NaN       0
1  1.0  NaN  3.0 NaN NaN   3.0   3.0  ...  1.0  1.0  1.0  6.0 NaN NaN       1
2  1.0  1.0  NaN NaN NaN   5.0   2.0  ...  NaN  NaN  NaN  2.0 NaN NaN       2
3  NaN  NaN  NaN NaN NaN   NaN   1.0  ...  NaN  NaN  NaN  NaN NaN NaN       3
4  8.0  NaN  7.0 NaN NaN  15.0  11.0  ...  NaN  NaN  7.0  3.0 NaN NaN       4

[5 rows x 42 columns]

In [ ]:
len(df_pos.userID.unique())

66309

In [ ]:

dfinal = df.merge(df_pos, on="userID", how = 'inner')
len(dfinal)

66308

In [ ]:
dfinal.head()
dfinal = dfinal.fillna(0)

In [ ]:
dfinal.to_csv('linkedIn_Data.csv', index = False, header=True)

In [ ]:
dfinal.head(2)

   userID                                            summary  ...    "    !
0       0  AmirAl A's Summary Looking for a job as a jour...  ...  0.0  0.0
1       1  Reji Kumar A's Summary : Senior Product Develo...  ...  0.0  0.0

[2 rows x 53 columns]

In [ ]:
from nltk.corpus import cmudict
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from matplotlib import style
nltk.download('cmudict')
nltk.download('stopwords')
style.use("ggplot")
cmuDictionary = None

def syllable_count_Manual(word):
    word = word.lower()
    count = 0
    vowels = "aeiouy"
    if word[0] in vowels:
        count += 1
    for index in range(1, len(word)):
        if word[index] in vowels and word[index - 1] not in vowels:
            count += 1
            if word.endswith("e"):
                count -= 1
    if count == 0:
        count += 1
    return count

# Counts number of syllables:
def syllable_count(word):
    global cmuDictionary
    d = cmuDictionary
    try:
        syl = [len(list(y for y in x if y[-1].isdigit())) for x in d[word.lower()]][0]
    except:
        syl = syllable_count_Manual(word)
    return syl
  
# GIVES NUMBER OF SYLLABLES PER WORD
def Avg_Syllable_per_Word(text):
    tokens = word_tokenize(text, language='english')
    st = [",", ".", "'", "!", '"', "#", "$", "%", "&", "(", ")", "*", "+", "-", ".", "/", ":", ";", "<", "=", '>', "?",
          "@", "[", "\\", "]", "^", "_", '`', "{", "|", "}", '~', '\t', '\n']
    stop = stopwords.words('english') + st
    words = [word for word in tokens if word not in stop]
    syllabls = [syllable_count(word) for word in words]
    p = (" ".join(words))
    return sum(syllabls) / max(1, len(words))

dfinal['Avg_Syllables'] = dfinal.apply (lambda row: Avg_Syllable_per_Word(row.summary), axis=1)
dfinal.head()

[nltk_data] Downloading package cmudict to /root/nltk_data...
[nltk_data]   Unzipping corpora/cmudict.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

   userID  ... Avg_Syllables
0       0  ...      2.347826
1       1  ...      2.043478
2       2  ...      2.769231
3       3  ...      1.827586
4       4  ...      2.371429

[5 rows x 54 columns]

In [ ]:
def CountPunctuation(text):
    st = [",", ".", "'", "!", '"', ";", "?", ":", ";"]
    count = 0
    for i in text:
        if (i in st):
            count = count + 1
    return float(count) / float(len(text))

dfinal['Count_Punctuation'] = dfinal.apply (lambda row: CountPunctuation(row.summary), axis=1)
dfinal.head()

   userID  ... Count_Punctuation
0       0  ...          0.038462
1       1  ...          0.020305
2       2  ...          0.009709
3       3  ...          0.014235
4       4  ...          0.033435

[5 rows x 55 columns]

In [ ]:
# RETURNS NORMALIZED COUNT OF FUNCTIONAL WORDS FROM A Framework for
# Authorship Identification of Online Messages: Writing-Style Features and Classification Techniques
def RemoveSpecialCHs(text):
    text = word_tokenize(text)
    st = [",", ".", "'", "!", '"', "#", "$", "%", "&", "(", ")", "*", "+", "-", ".", "/", ":", ";", "<", "=", '>', "?",
          "@", "[", "\\", "]", "^", "_", '`', "{", "|", "}", '~', '\t', '\n']

    words = [word for word in text if word not in st]
    return words
    
def CountFunctionalWords(text):
    functional_words = """a between in nor some upon
    about both including nothing somebody us
    above but inside of someone used
    after by into off something via
    all can is on such we
    although cos it once than what
    am do its one that whatever
    among down latter onto the when
    an each less opposite their where
    and either like or them whether
    another enough little our these which
    any every lots outside they while
    anybody everybody many over this who
    anyone everyone me own those whoever
    anything everything more past though whom
    are few most per through whose
    around following much plenty till will
    as for must plus to with
    at from my regarding toward within
    be have near same towards without
    because he need several under worth
    before her neither she unless would
    behind him no should unlike yes
    below i nobody since until you
    beside if none so up your
    """

    functional_words = functional_words.split()
    words = RemoveSpecialCHs(text)
    count = 0

    for i in text:
        if i in functional_words:
            count += 1

    return count / len(words)

dfinal['Functional_Words'] = dfinal.apply (lambda row: CountFunctionalWords(row.summary), axis=1)
dfinal.head()

   userID  ... Functional_Words
0       0  ...         1.266667
1       1  ...         0.551724
2       2  ...         1.230769
3       3  ...         0.626667
4       4  ...         1.023256

[5 rows x 56 columns]

In [ ]:
def typeTokenRatio(text):
    words = word_tokenize(text)
    return len(set(words)) / len(words)
  
dfinal['type_token_ratio'] = dfinal.apply (lambda row: typeTokenRatio(row.summary), axis=1)
dfinal.head()

   userID  ... type_token_ratio
0       0  ...         0.769231
1       1  ...         0.875000
2       2  ...         0.846154
3       3  ...         0.650000
4       4  ...         0.796296

[5 rows x 57 columns]

In [ ]:
!pip install textcomplexity

Collecting textcomplexity
  Downloading https://files.pythonhosted.org/packages/1b/ff/137ca9bfa32da58960177fb0ed2caf82bc85d5b12df3972204fadefc79ee/textcomplexity-0.9.0-py3-none-any.whl
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from textcomplexity) (1.4.1)
Requirement already satisfied: networkx in /usr/local/lib/python3.7/dist-packages (from textcomplexity) (2.5.1)
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (from textcomplexity) (3.2.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from textcomplexity) (1.19.5)
Collecting nltk-tgrep
  Downloading https://files.pythonhosted.org/packages/20/36/3f69546f68f3f820fa186f859e8e13742d5fe24be3e7796464384cfe3590/nltk_tgrep-1.0.6-py3-none-any.whl
Requirement already satisfied: decorator<5,>=4.3 in /usr/local/lib/python3.7/dist-packages (from networkx->textcomplexity) (4.4.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk->textcomplexity) (1.15.0)
Requirement already satisfied: pyparsing in /usr/local/lib/python3.7/dist-packages (from nltk-tgrep->textcomplexity) (2.4.7)
Installing collected packages: nltk-tgrep, textcomplexity
Successfully installed nltk-tgrep-1.0.6 textcomplexity-0.9.0

In [ ]:
root_path = 'gdrive/My Drive/Colab Notebooks/TA Code/'

df = pd.read_csv(root_path+"Final_Data_v1.csv")

In [ ]:
import string,re,sys,os,random
from math import sqrt,log

# adjust minimum sample size here
standard=50

# Returns the keys of dictionary d sorted by their values
def sort_by_value(d):
    items=d.items()
    backitems=[ [v[1],v[0]] for v in items]
    backitems.sort()
    return [ backitems[i][1] for i in range(0,len(backitems))]

# NDW for first z words in a sample
def getndwfirstz(z,lemmalist):
    ndwfirstztype={}
    for lemma in lemmalist[:z]:
        ndwfirstztype[lemma]=1
    return len(ndwfirstztype.keys())

# NDW expected random z words, 10 trials
def getndwerz(z,lemmalist):
    ndwerz=0
    for i in range(10):
        ndwerztype={}
        erzlemmalist=random.sample(lemmalist,z)
        for lemma in erzlemmalist:
            ndwerztype[lemma]=1
        ndwerz+=len(ndwerztype.keys())
    return ndwerz/10.0

# NDW expected random sequences of z words, 10 trials
def getndwesz(z,lemmalist):
    ndwesz=0
    for i in range(10):
        ndwesztype={}
        startword=random.randint(0,len(lemmalist)-z)
        eszlemmalist=lemmalist[startword:startword+z]
        for lemma in eszlemmalist:
            ndwesztype[lemma]=1
        ndwesz+=len(ndwesztype.keys())
    return ndwesz/10.0

# MSTTR
def getmsttr(z,lemmalist):
    samples=0
    msttr=0.0
    while len(lemmalist)>=z:
        samples+=1
        msttrtype={}
        for lemma in lemmalist[:z]:
            msttrtype[lemma]=1
        msttr+=len(msttrtype.keys())/float(z)
        lemmalist=lemmalist[z:]    
    return msttr/samples

def isLetterNumber(character):
    if character in string.printable and not character in string.punctuation:
        return 1
    return 0

def isSentence(line):
    for character in line:
        if isLetterNumber(character):
            return 1
    return 0

# reads information from bnc wordlist
adjdict={}
verbdict={}
noundict={}
worddict={}
wordlistfile=open("gdrive/My Drive/Colab Notebooks/TA Code/bnc_all_filtered.txt","r")
wordlist=wordlistfile.readlines()
wordlistfile.close()
for word in wordlist:
    wordinfo=word.strip()
    if not wordinfo or "Total words" in wordinfo:
        continue
    infolist=wordinfo.split()
    lemma=infolist[0]
    pos=infolist[1]
    frequency=int(infolist[2])
    worddict[lemma]=worddict.get(lemma,0)+frequency
    if pos=="Adj":
        adjdict[lemma]=adjdict.get(lemma,0)+frequency
    elif pos=="Verb":
        verbdict[lemma]=verbdict.get(lemma,0)+frequency
    elif pos=="NoC" or pos=="NoP":
        noundict[lemma]=noundict.get(lemma,0)+frequency
wordranks=sort_by_value(worddict)
verbranks=sort_by_value(verbdict)

In [ ]:
def process_input(text):
	import string,re,sys,os,random
	from math import sqrt,log
	#from google.colab import drive
	#drive.mount('/content/gdrive')

	# adjust minimum sample size here
	standard=50
	
	# Returns the keys of dictionary d sorted by their values
	def sort_by_value(d):
		items=d.items()
		backitems=[ [v[1],v[0]] for v in items]
		backitems.sort()
		return [ backitems[i][1] for i in range(0,len(backitems))]
	
	# NDW for first z words in a sample
	def getndwfirstz(z,lemmalist):
		ndwfirstztype={}
		for lemma in lemmalist[:z]:
			ndwfirstztype[lemma]=1
		return len(ndwfirstztype.keys())
	
	# NDW expected random z words, 10 trials
	def getndwerz(z,lemmalist):
		ndwerz=0
		for i in range(10):
			ndwerztype={}
			erzlemmalist=random.sample(lemmalist,z)
			for lemma in erzlemmalist:
				ndwerztype[lemma]=1
			ndwerz+=len(ndwerztype.keys())
		return ndwerz/10.0
	
	# NDW expected random sequences of z words, 10 trials
	def getndwesz(z,lemmalist):
		ndwesz=0
		for i in range(10):
			ndwesztype={}
			startword=random.randint(0,len(lemmalist)-z)
			eszlemmalist=lemmalist[startword:startword+z]
			for lemma in eszlemmalist:
				ndwesztype[lemma]=1
			ndwesz+=len(ndwesztype.keys())
		return ndwesz/10.0
	
	# MSTTR
	def getmsttr(z,lemmalist):
		samples=0
		msttr=0.0
		while len(lemmalist)>=z:
			samples+=1
			msttrtype={}
			for lemma in lemmalist[:z]:
				msttrtype[lemma]=1
			msttr+=len(msttrtype.keys())/float(z)
			lemmalist=lemmalist[z:]    
		return msttr/samples
	
	def isLetterNumber(character):
		if character in string.printable and not character in string.punctuation:
			return 1
		return 0
	
	def isSentence(line):
		for character in line:
			if isLetterNumber(character):
				return 1
		return 0
	
	# reads information from bnc wordlist
	adjdict={}
	verbdict={}
	noundict={}
	worddict={}
	wordlistfile=open("gdrive/My Drive/Colab Notebooks/TA Code/bnc_all_filtered.txt","r")     
	wordlist=wordlistfile.readlines()
	wordlistfile.close()
	for word in wordlist:
		wordinfo=word.strip()
		if not wordinfo or "Total words" in wordinfo:
			continue
		infolist=wordinfo.split()
		lemma=infolist[0]
		pos=infolist[1]
		frequency=int(infolist[2])
		worddict[lemma]=worddict.get(lemma,0)+frequency
		if pos=="Adj":
			adjdict[lemma]=adjdict.get(lemma,0)+frequency
		elif pos=="Verb":
			verbdict[lemma]=verbdict.get(lemma,0)+frequency
		elif pos=="NoC" or pos=="NoP":
			noundict[lemma]=noundict.get(lemma,0)+frequency
	wordranks=sort_by_value(worddict)
	verbranks=sort_by_value(verbdict)



  # process input file
	wordtypes={}
	wordtokens=0
	swordtypes={}
	swordtokens=0
	lextypes={}
	lextokens=0
	slextypes={}
	slextokens=0
	verbtypes={}
	verbtokens=0
	sverbtypes={}
	adjtypes={}
	adjtokens=0
	advtypes={}
	advtokens=0
	nountypes={}
	nountokens=0
	lemmaposlist=[]
	lemmalist=[]
	
	for lemline in text:                                                      #Change lemlines to text
		lemline=lemline.strip()
		lemline=lemline.lower()
		if not isSentence(lemline):
			continue
		lemmas=lemline.split()
		for lemma in lemmas:
			word=lemma.split("_")[0]
			pos=lemma.split("_")[-1]
			if (not pos in string.punctuation) and pos!="sent" and pos!="sym":
				lemmaposlist.append(lemma)
				lemmalist.append(word)  
				wordtokens+=1
				wordtypes[word]=1
				if (not word in wordranks[-2000:]) and pos != "cd":
					swordtypes[word]=1
					swordtokens+=1
				if pos[0]=="n":
					lextypes[word]=1
					nountypes[word]=1
					lextokens+=1
					nountokens+=1
					if not word in wordranks[-2000:]:
						slextypes[word]=1
						slextokens+=1
				elif pos[0]=="j":
					lextypes[word]=1
					adjtypes[word]=1
					lextokens+=1
					adjtokens+=1
					if not word in wordranks[-2000:]:
						slextypes[word]=1
						slextokens+=1
				elif pos[0]=="r" and (adjdict.__contains__(word) or (word[-2:]=="ly" and adjdict.__contains__(word[:-2]))):
					lextypes[word]=1
					advtypes[word]=1
					lextokens+=1
					advtokens+=1
					if not word in wordranks[-2000:]:
						slextypes[word]=1
						slextokens+=1
				elif pos[0]=="v" and not word in ["be","have"]:
					verbtypes[word]=1
					verbtokens+=1
					lextypes[word]=1
					lextokens+=1
					if not word in wordranks[-2000:]:
						sverbtypes[word]=1
						slextypes[word]=1
						slextokens+=1

  # 1. lexical density
	try:
		ld=round(float(lextokens)/wordtokens,4)
	except ZeroDivisionError:
		ld= float('NaN')
  # 2. lexical sophistication
	# 2.1 lexical sophistication

	try:
		ls1=round(slextokens/float(lextokens),4)
	except ZeroDivisionError:
		ls1= float('NaN')
	

	try:
		ls2=round(len(swordtypes.keys())/float(len(wordtypes.keys())),4)
	except ZeroDivisionError:
		ls2= float('NaN')
	
	# 2.2 verb sophistication
	try:
		vs1=round(len(sverbtypes.keys())/float(verbtokens),4)
	except ZeroDivisionError:
		vs1= float('NaN')
	
	try:
		vs2=round((len(sverbtypes.keys())*len(sverbtypes.keys()))/float(verbtokens),4)
	except ZeroDivisionError:
		vs2= float('NaN')
	
	try:
		cvs1=round(len(sverbtypes.keys())/sqrt(2*verbtokens),4)
	except ZeroDivisionError:
		cvs1= float('NaN')
	
	# 3 lexical diversity or variation
	# 3.1 NDW, may adjust the values of "standard"
	ndw=ndwz=ndwerz=ndwesz=len(wordtypes.keys())
	if len(lemmalist)>=standard:
		ndwz=getndwfirstz(standard,lemmalist)
		ndwerz=getndwerz(standard,lemmalist)
		ndwesz=getndwesz(standard,lemmalist)
	
	# 3.2 TTR
	
	try:
		msttr=ttr=round(len(wordtypes.keys())/float(wordtokens),4)
		if len(lemmalist)>=standard:
			msttr=getmsttr(standard,lemmalist)
	except ZeroDivisionError:
		msttr= float('NaN')
	
	
	try:
		cttr=round(len(wordtypes.keys())/sqrt(2*wordtokens),4)
	except ZeroDivisionError:
		cttr= float('NaN')
	
		
	try:
		rttr=round(len(wordtypes.keys())/sqrt(wordtokens),4)
	except ZeroDivisionError:
		rttr= float('NaN')
	
		
	try:
		logttr=round(log(len(wordtypes.keys()))/log(wordtokens),4)
	except ZeroDivisionError:
		logttr= float('NaN')
	
		
	try:
		uber=round((log(wordtokens,10)*log(wordtokens,10))/log(wordtokens/float(len(wordtypes.keys())),10),4)
	except ZeroDivisionError:
		uber= float('NaN')
	
	
	# 3.3 verb diversity
	
	try:
		vv1=round(len(verbtypes.keys())/float(verbtokens),4)
	except ZeroDivisionError:
		vv1= float('NaN')
	
	try:
		svv1=round(len(verbtypes.keys())*len(verbtypes.keys())/float(verbtokens),4)
	except ZeroDivisionError:
		svv1= float('NaN')
	
	try:
		cvv1=round(len(verbtypes.keys())/sqrt(2*verbtokens),4)
	except ZeroDivisionError:
		cvv1= float('NaN')
	
	# 3.4 lexical diversity
		
	try:
		lv=round(len(lextypes.keys())/float(lextokens),4)
	except ZeroDivisionError:
		lv= float('NaN')
		
	try:
		vv2=round(len(verbtypes.keys())/float(lextokens),4)
	except ZeroDivisionError:
		vv2= float('NaN')
		
	try:
		nv=round(len(nountypes.keys())/float(nountokens),4)
	except ZeroDivisionError:
		nv= float('NaN')
		
	try:
		adjv=round(len(adjtypes.keys())/float(lextokens),4)
	except ZeroDivisionError:
		adjv= float('NaN')
	
			
	try:
		advv=round(len(advtypes.keys())/float(lextokens),4)
	except ZeroDivisionError:
		advv= float('NaN')
	
			
	try:
		modv=round((len(advtypes.keys())+len(adjtypes.keys()))/float(lextokens),4)
	except ZeroDivisionError:
		modv= float('NaN')
	
	
	print("\nwordtypes, swordtypes, lextypes, slextypes, wordtokens, swordtokens, lextokens, slextokens, ld, ls1, ls2, vs1, vs2, cvs1, ndw, ndwz, ndwerz, ndwesz, ttr, msttr, cttr, rttr, logttr, uber, lv, vv1, svv1, cvv1, vv2, nv, adjv, advv, modv")
	print(len(wordtypes.keys()), len(swordtypes.keys()), len(lextypes.keys()), len(slextypes.keys()), wordtokens, swordtokens, lextokens, slextokens, ld, ls1, ls2, vs1, vs2, cvs1, ndw, ndwz, ndwerz, ndwesz, ttr, msttr, cttr, rttr, logttr, uber, lv, vv1, svv1, cvv1, vv2, nv, adjv, advv, modv)

In [ ]:
col = "wordtypes, swordtypes, lextypes, slextypes, wordtokens, swordtokens, lextokens, slextokens, ld, ls1, ls2, vs1, vs2, cvs1, ndw, ndwz, ndwerz, ndwesz, ttr, msttr, cttr, rttr, logttr, uber, lv, vv1, svv1, cvv1, vv2, nv, adjv, advv, modv"
col = col.split(", ")
features = pd.DataFrame(columns=col)
features

Empty DataFrame
Columns: [wordtypes, swordtypes, lextypes, slextypes, wordtokens, swordtokens, lextokens, slextokens, ld, ls1, ls2, vs1, vs2, cvs1, ndw, ndwz, ndwerz, ndwesz, ttr, msttr, cttr, rttr, logttr, uber, lv, vv1, svv1, cvv1, vv2, nv, adjv, advv, modv]
Index: []